@font-face {
    font-family: 'Outfit-Light';
    src: url('Nunito-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url('Nunito-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3 {
  font-family: 'Outfit-Regular';
  margin-bottom: 4pt;
}

p {
  font-family: 'Outfit-Regular';
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 3pt;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0pt;
  padding: 0;
}

.gallery a {
  display: inline-block; /* or block */
  padding: 0;
  margin: 0;
  border: none;
  line-height: 0;
}

.image-wrapper {
  height: calc(100dvh - 120pt);
  width: calc(100dvw - 30pt);
  display: block;
  padding: 15pt;
  padding-top: 35pt;
}

.image-view {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
}

.image-information {
  padding-left: 20pt;
  padding-right: 20pt;
}

.image-information p {
  margin: 0;
  margin-bottom: 4pt;
}

.index-page {
  padding-left: 20pt;
  padding-right: 20pt;
}

body {
  color: #2c2a26;
  background-color: #e4cba6;
  padding: 0;
  margin: 0;
}

.prev-image-inner {
  position: absolute;
  left: 10pt;
  top: 18pt;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  opacity: 1;
}

.prev-image-inner:hover {
  opacity: 0.5;
}

.next-image-inner {
  position: absolute;
  right: 10pt;
  top: 18pt;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  opacity: 1;
}

.next-image-inner:hover {
  opacity: 0.5;
}

.home-button {
  background: none;
  border: none;
  padding: 0;
  color: #2c2a26;
  cursor: pointer;
  font-weight: 1000;
  font-family: 'Outfit-Regular';
  text-decoration: none;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  color: #2c2a26;
  cursor: pointer;
}

.photo-readout {
  position: absolute;
  left: 50%;
  top: 10pt;
  margin: 0;
  transform: translateX(-50%);
}